.eventsTable {
    width: 100%;
    border-collapse: collapse;
    th {
        padding: 0 0 7px 0;
        border-bottom: 2px solid rgba(0,0,0,.08);
        color: #888;
    }
    td {
        text-align: center;
        padding: 7px 0;
    }
    tr:nth-child(2) {
        td {
            padding-top: 18px;
        }
    }
    tr:nth-child(2n+3) {
        background-color: rgba(33, 56, 100, 0.1);
    }
}