.searchBar {

    &-input {
        display: block;
        border-radius: 3px;
        border: none;
        transition: all 0.2s linear;
        font-size: 13px;
        color: #222222;
        position: relative;
        height: 36px;
        padding-left: 30px;
        width: 100%;
        &::-webkit-input-placeholder {
            color: #999999;
        }

        &:-moz-placeholder {
            color: #999999;
        }

        &:focus{
            outline: none;
            background: #FFF;
        }
    }
}