.searchBar {
    color: rgba(0, 0, 0, 0.870588);
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    box-shadow: rgba(0, 0, 0, 0.117647) 0 1px 6px, rgba(0, 0, 0, 0.117647) 0 1px 4px;
    border-radius: 2px;
    margin-bottom: 32px;
    padding: 14px 24px 24px;
    background-color: rgb(255, 255, 255);

    &-input {
        display: block;
        border-radius: 3px;
        border: none;
        transition: all 0.2s linear;
        font-size: 13px;
        color: #222222;
        position: relative;
        height: 36px;
        padding-left: 30px;
        width: 100%;
        &::-webkit-input-placeholder {
            color: #999999;
        }

        &:-moz-placeholder {
            color: #999999;
        }

        &:focus{
            outline: none;
            background: #FFF;
        }
    }
}