* {
    box-sizing: border-box;
}
body {
    font-size: 14px;
    margin: 8px;
    font-family: 'Roboto Condensed', sans-serif;
}


@import 'common/grid';
@import 'common/helpers';
@import 'components/search_bar/search_bar';
@import 'components/events_table/events_table';