* {
    box-sizing: border-box;
}
body {
    font-size: 14px;
    margin: 8px;
    font-family: 'Roboto Condensed', sans-serif;
}
.container {
    width: 1200px;
    margin: 0 auto;
}

@import 'components/search_bar';